---
import tools from "../../data/tools.yml";
import Heading from "../shared/Heading.astro";

export type Tool = {
    name: string;
    description: string;
    icon: string;
    color: string;
};
---

<Heading title="ENTERPRISE" subtitle="TOOLS" />

<ul class="tools-grid">
    {
        tools.map((tool: Tool, index: number) => (
            <li class="tool" data-aos="fade-down">
                <div class="icon" style={`background-color: ${tool.color};`}>
                    <img
                        src={tool.icon}
                        alt={`${tool.name} logo`}
                        style="filter: brightness(0) invert(1);"
                    />
                </div>

                <div class="meta">
                    <h3>{tool.name}</h3>
                    <p>{tool.description}</p>
                </div>
            </li>
        ))
    }
</ul>

<style>
    .tools-grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0.5rem;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .tool {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 1rem;
        padding: 1rem 0;
        border-radius: 12px;
        cursor: pointer;
        min-width: 0;
    }

    .tool:hover {
        background: rgba(255, 255, 255, 0.05);
    }

    .icon {
        width: clamp(2rem, 15vw, 3.75rem);
        height: clamp(2rem, 15vw, 3.75rem);
        border-radius: clamp(0.5rem, 2vw, 0.75rem);

        display: grid;
        place-items: center;
        flex-shrink: 0;
    }

    .icon img {
        width: clamp(1.25rem, 10vw, 2.5rem);
        height: clamp(1.25rem, 10vw, 2.5rem);
    }

    .meta {
        width: 100%;
        min-width: 0;
        max-width: 100%;
    }

    .meta h3 {
        margin: 0;
        font-size: 1rem;
        font-weight: 600;
        color: #fff;
    }

    .meta p {
        margin: 0.2rem 0 0;
        font-size: 0.8rem;
        color: rgba(255, 255, 255, 0.6);
    }

    @media (min-width: 375px) {
        .tool {
            flex-direction: row;
            text-align: left;
            gap: 1rem;
        }

        .meta h3 {
            font-size: 1.5rem;
        }

        .meta p {
            font-size: 1rem;
        }
        .tools-grid {
            gap: 1.5rem 3rem;
        }
    }

    @media (min-width: 640px) {
        .tool {
            padding: 1rem;
        }
        .tools-grid {
            gap: 1rem 3rem;
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media (min-width: 810px) {
        .tools-grid {
            gap: 1.5rem 2rem;
            grid-template-columns: repeat(3, 1fr);
        }
    }

    @media (min-width: 1080px) {
        .tools-grid {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media (min-width: 1440px) {
        .tools-grid {
            grid-template-columns: repeat(3, 1fr);
        }
    }
</style>
